.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(240, 240, 240, 0.9);
	height: 5em;
	padding: 1em;
}

.button-container {
	display: flex;
	justify-content: center;
}

.avatar {
	background-color: #f56a00;
	margin-right: 5px;
}
